/* layout */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-template-rows: minmax(14rem, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 16px;
  grid-auto-flow: dense;
}

.grid-template-columns {
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.grid-gap {
  grid-gap: 20.5rem;
}
 
/* styling */

.card--expanded {
  grid-column: span 2;
  grid-row: span 2;
}

.card {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.card > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__avatar {
  height: 9 rem;
  width: 6rem;
  border-radius: 50%;
  background-color: hsla(0, 0%, 0%, 0.2);
  margin-bottom: 1rem;
}

.card__title {
  height: 1rem;
  width: 7rem;
  background-color: hsla(0, 0%, 0%, 0.6);
  margin-bottom: 1rem;
}

.card__description {
  height: 20rem;
  width: 20rem;
  background-color: hsla(0, 0%, 0%, 0.2);
}

.card--1 {
  background-color: rgba(248,131,121, 1);
}

.card--2 {
  background-color: rgba(131, 238, 248, .8);
}

.card--3 {
  background-color: pink;
}

.card--4 {
  background-color: skyblue;
}

.card--5 {
  background-color: coral;
}

body {
  background-color: white ;
  color: lightgray;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.1rem;
}

.buttonHolders {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.mb-4 {
  margin-bottom: 1rem;
}

.pt-4 {
  margin-top: 1rem;
}

.p-4 {
  padding: 1rem;
}

button {
  padding: 0.75rem;
  margin-right: 0.75rem;
  background-color: #191919;
  color: lightgray;
  border: 1px solid lightgray;
  border-radius: 5px;
  cursor: pointer;
}

button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

button:hover {
    background-color: #67c7d3;
    /*color: white;*/
}

button:focus {
  box-shadow: 0 0 0 3px #7396e4;
  outline: none;
}

a {
  font-weight: bold;
  color: #7396e4;
}

code {
  color: #7396e4;
}

h1 {
  color: black;
  font-weight: 600;
  font-family: gotham rounded a,gotham rounded b;
}

.about {
  max-width: 60%;
  font-family: Arial;
  font-size: 1.6rem;
}

.all {
  margin: auto;
  max-width: 80%;
}

.smalltext {
  font-size: .75rem;
}

.hr_width {
  max-width: 60%;
}

.vis {
  border: 1px dotted #ccc;
  width: 40rem;
  height: 15rem;
}

.btn2 {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    margin-left: 5%;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
}

#outer
{
    width:100%;
    text-align: center;
}
.inner
{
    display: inline-block;
    margin-right: 1.4rem;
    margin-left: 1.4rem;
    text-transform: uppercase!important;
    font-size:1.15rem;
    margin-top: 0rem;
    font-weight: 700!important;
}

.data_science {
    color: #67c7d3;
}

.software {
    color: #dbb64b;
}

.information {
    color: coral;
}

.svggg {
  fill: #67c7d3;
}